@model SV21T1020218.Web.Models.ProductSearchInput

@{
    ViewBag.Title = "Quản lý mặt hàng";
}

<div class="box box-primary">
    <div class="box-body">

        <form id="frmSearchInput" action="~/Product/Search" method="get">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
            <div class="row">
                <div class="col-sm-2">
                    <label>Loại hàng:</label>
                    <select class="form-control" name="@nameof(Model.CategoryID)">
                        <option value="@Model.CategoryID">-- Chọn loại hàng --</option>
                        @foreach (var d in Model.Categories)
                        {
                            <option value="@d.CategoryID">@d.CategoryName</option>

                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Nhà cung cấp:</label>
                    <select class="form-control" name="@nameof(Model.SupplierID)">
                        <option value="@Model.SupplierID">-- Chọn nhà cung cấp --</option>
                        @foreach (var e in Model.Suppliers)
                        {
                            <option value="@e.SupplierID">@e.SupplierName</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Giá từ:</label>
                    <input type="text" class="form-control price" name="@nameof(Model.MinPrice)" value="0" />
                </div>
                <div class="col-sm-2">
                    <label>đến:</label>
                    <input type="text" class="form-control price" name="@nameof(Model.MaxPrice)" value="0" />
                </div>
                <div class="col-sm-3">
                    <label>Tên mặt hàng cần tìm:</label>
                    <div class="input-group">
                        <input name="@nameof(Model.SearchValue)"
                               type="text"
                               class="form-control"
                               placeholder="Nhập tên mặt hàng cần tìm"
                               value="@Model.SearchValue"
                               autofocus />
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <a href="/Product/Create" class="btn btn-primary" style="margin-left:5px">
                                <i class="fa fa-plus"></i> Bổ sung
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <!-- Hiển thị dữ liệu -->
        <div id="searchResult"></div>

    </div>
</div>
@section scripts {
    <script>

        $(".price").on('input', function (e) {

            const price = +e.target.value.replaceAll('.','')
            let value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(
                price
            )
            value = value.slice(0, -2)
            e.target.value = value
            value = value.replace('.', '')
            e.target.setAttribute('value', value)
        })

        function doSearch(page) {
            var searchCondition = $("#frmSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });

            var action = $("#frmSearchInput").prop("action");
            var method = $("#frmSearchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: searchCondition,
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
            });
        });
    </script>
}